<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Suplemments Ecoomerce</title>
</head>
<body>
    <h1>Suplemmentes Ecoomerce</h1>
    <h3>O seu Suplemmento rápido e fácil!</h3>

    <h3 th: text = "cadastro">Cadastro</h3>
        <form method="post" href = "/cadastropessoa">
            Nome: <input type="text" value="" name="nome"/>
            Idade: <input type="number" value="" name="idade"/>
            Email: <input type="email" value="" name="email"/>
            Cpf: <input type="text" value="" name="cpf"/>
            Endereço: <input type="text" value="" name="endereco"/>

            <button type="submit">Salver</button>
        </form>
    <table>
        <tr th:each = "cliente : ${clientes}">
            <td th:text = "${cliente.nome}"></td>
            <td th:text = "${cliente.idade}"></td>
            <td th:text = "${cliente.email}"></td>
            <td th:text = "${cliente.cpf}"></td>
            <td th:text = "${cliente.endereco}"></td>
        </tr>
    </table>
</body>
</html>