<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suplemments Ecoomerce</title>
</head>
<body>
    <h1>Suplemmentes Ecoomerce</h1>
    <h3>O seu Suplemmento rápido e fácil!</h3>

    <h3>Cadastro</h3>
        <form method="post">
            Nome: <input type="text" value="" name="nome"/>
            Idade: <input type="number" value="" name="idade"/>
            Email: <input type="email" value="" name="email"/>
            Cpf: <input type="text" value="" name="cpf"/>
            Endereço: <input type="text" value="" name=""/>
        </form>
</body>
</html>